.nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: sticky;
    top: 1px;
    z-index: 10;
    border-bottom: 1px solid red;
}

.nav a {
    font-size: large;
    font-weight: bold;
    margin-right: 5px;
    color: rgb(0, 0, 0);
    /* background: #ff0000; */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

.nav a:hover {
    color: white;
    background: red;
    transition: 0.3s ease-in-out;
}

#title {
    margin: 15px;
    font-size: xx-large;
    font-weight: 900;
}

#t {
    color: red;
    font-size: larger;
    font-weight: bold;
}